body {
  background-color: goldenrod;
}
h1 {
  font-family: sans sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  text-align: center;
  margin-top: 45vh;
}

@media screen and (min-width: 1024px) {
body{
  background-color: tomato;
}
h1 {
  font font-size: 100px;
  color: black;
  margin-top: 40vh;
  }
}