body {
  background-color: goldenrod;
}
h1 {
  font-family: inherit;
  font-size: 100px;
  letter-spacing: 1px;
  color: white;
  text-align: center;
  margin-top: 25vh;
}
.it's {
  display: none;
}
.sherbert-day {
  display: block;
}
.interaction {
  display: block;
  text-align: center;
}
@media screen and (min-width: 768px) {
  body{
  background-color: darkcyan;
}
.it's {
  display: block;
}
.sherbert-day {
  display: none;
}
 .interaction{
    display:none
    }
h1 {
  font-size: 80px;
  }